@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Cherry Bomb";
  src: url("./fonts/CherryBombOne-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Fuzzy";
  src: url("./fonts/FuzzyBubbles-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Unbounded";
  src: url("./fonts/Unbounded-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Dogica Pixel";
  src: url("./fonts/Dogica_Pixel.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "SpaceMono";
  src: url("./fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "HackerNoonV2";
  src: url("./fonts/HackerNoonV2-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Pixelmix";
  src: url("./fonts/pixelmix.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "DelaGothicOne";
  src: url("./fonts/DelaGothicOne-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("./fonts/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

/*#region 👇 Mainnet font 👇 */
@font-face {
  font-family: "Oxanium";
  src: url("/fonts/Oxanium-Regular.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}
/*#endregion 👆 Mainnet font 👆 */

/*#region 👇 Mainnet styles 👇 */
div[data-rk] {
  width: 100%;
  height: 100%;
}
.mainnet-content {
  width: 100%;
  height: 100%;
  padding-left: 226px;
  padding-top: 65px;
}
/*#endregion 👆 Mainnet styles 👆 */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*overflow: hidden;*/
}

:root {
  --background: #0e0f29;
  --foreground: #000000;
  --primary: #836ef9;
  /* 设计标准是 1440px， 分成 100 份 */
  --rem: calc(1440 / 100) * 1px;
  --wcm-z-index: 999;
  --nadsa-laptop-width: 1008px;
  --nadsa-laptop-width-base: 1440px;
  --nadsa-laptop-width-mobile: 780px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0f29;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  font-family: Oxanium;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-stroke-1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
  }

  .text-stroke-2-black {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
  }

  .text-stroke-1-4b371f {
    -webkit-text-stroke: 1px #4b371f;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 2px #4b371f;
  }

  .text-stroke-1-E1FF0A {
    -webkit-text-stroke: 1px #e1ff0a;
  }

  .text-stroke-1-836EF9 {
    -webkit-text-stroke: 1px #836ef9;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE 和 Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari 和 Opera */
  }

  .trapezoid-container {
    position: relative;
  }

  .trapezoid {
    clip-path: polygon(var(--angle) 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;
  }

  .trapezoid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: polygon(var(--angle) 0%, 100% 0%, 100% 100%, 0% 100%);
    border: 1px solid var(--borderColor, #000);
    border-radius: var(--borderRadius, 6px);
    pointer-events: none;
  }

  .mask {
    mask-image: radial-gradient(circle 8px at 8px 8px,
        transparent 8px,
        black 9px);
    -webkit-mask-image: radial-gradient(circle 8px at 8px 8px,
        transparent 8px,
        black 9px);
  }
}

.route-wrapper {
  &>.flex:not(:last-child) {
    border-bottom: 1px solid #373a53;
  }
}

button,
a,
.cursor-pointer {
  cursor: url("/images/cursor.svg") 10 6, auto !important;
}

.cursor-pointer.terminal {
  cursor: url("/images/cursor-terminal.svg"), auto !important;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /**/
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: url("/images/cursor.svg") 12 0, auto;
}

body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

input {
  outline: none;
}

input:disabled {
  background-color: transparent;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mp-list .tr:nth-child(odd) .td {
  background-color: #0000000f;
}

.mp-list .tr:nth-child(odd) .td:first-child {
  border-radius: 10px 0 0 10px;
}

.mp-list .tr:nth-child(odd) .td:last-child {
  border-radius: 0 10px 10px 0;
}

.cave-bg {
  background: var(--background) url(/images/cave/cave-empty.png) center top no-repeat;
  background-size: 104% 100%;
  min-height: 890px;
  min-width: 1200px;

  .bear-header {
    background: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.invite-page-content {
  @media (max-width: 375px) {
    height: 610px;
  }

  @media (min-width: 376px) and (max-width: 390px) {
    height: 636px;
  }

  @media (min-width: 391px) and (max-width: 420px) {
    height: 676px;
  }

  @media (min-width: 421px) and (max-width: 768px) {
    height: 700px;
  }
}

.bridge-title {
  position: relative;
  border-radius: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -15px;
    width: 35.36px;
    height: 35.36px;
    background: #a6a6db;
    transform: rotate(45deg);
    border-radius: 6px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -15px;
    width: 35.36px;
    height: 35.36px;
    background: #a6a6db;
    transform: rotate(45deg);
    border-radius: 6px;
  }
}

.bridge-history-tab-active {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
  }
}

.Toastify {
  z-index: 999999999;
}

.glitch {
  position: relative;
  /* font-size: 60px;
  color: white; */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before,
.glitch::after {
  content: attr(data-glitch);
  position: absolute;
  left: 0;
  width: 100%;
  white-space: nowrap;
  color: white;
  background: #bfff60;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
}

.glitch::before {
  animation: glitch-top 1.5s infinite linear alternate-reverse;
  color: #f0f;
  /* Magenta */
  z-index: -1;
}

.glitch::after {
  animation: glitch-bottom 1.5s infinite linear alternate-reverse;
  color: red;
  /* Cyan */
  z-index: -2;
}

@keyframes glitch-top {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(-2px, -2px);
  }

  20% {
    clip: rect(0, 9999px, 5px, 0);
    transform: translate(2px, -1px);
  }

  40% {
    clip: rect(0, 9999px, 8px, 0);
    transform: translate(-1px, 2px);
  }

  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}

@keyframes glitch-bottom {
  0% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(2px, 2px);
  }

  20% {
    clip: rect(5px, 9999px, 9999px, 0);
    transform: translate(-2px, 1px);
  }

  40% {
    clip: rect(8px, 9999px, 9999px, 0);
    transform: translate(1px, -2px);
  }

  100% {
    clip: rect(0, 9999px, 0, 0);
    transform: translate(0, 0);
  }
}

.animate {
  animation: l11 1s infinite linear;
}

@keyframes l11 {
  100% {
    transform: rotate(1turn);
  }
}