.range {
  margin-top: 24px;
}
.range input[type="range"] {
  display: block;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  background: #2b294a;
  height: 4px;
  border-radius: 16px;
  margin: 0 auto;
  outline: none;
}

.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #baaffc;
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}
